body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:sans-serif ;
    background: #fcce00;
}
.table-box
{
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    background: #fff; 
    box-shadow: 0 10px 100px rgba(0,0,0,0.5);
}
table
{
    width: 100%;
}
table, th, td
{
    border: 1px solid #aa7d00;
    border-collapse: collapse;
    text-align: left;
}
th
{
    position: sticky;
    top: 0;
    background: #e2fa0b;
    color: #fff;
    box-sizing: border-box;   
}
tr th:nth-child(1)
{
    width: 60px;
    text-align: center;
    background: #aa7d00;
}
tr td:nth-child(1)
{
    background:  #e2fa0b;
    text-align: center;
    color: #fff;

}
